
.tb722 {
	border-style: none;
    border-color: inherit;
    border-width: 0;
    background: url('images/bg.jpg') no-repeat;
    color : #747862;
	padding:4px 8px;
	margin-bottom:0px;
}
.mod {margin-left:10px;}

body {
}
